<!-- https://tburleson-layouts-demos.firebaseapp.com/#/docs -->
<!-- flex layout demo -->
<!-- auth guard (bech baad manaamel login maach tjini el page login) -->
<div  class="placement-of-header">
<mat-toolbar class="transparent-bg">
  <button mat-icon-button class="example-icon">
    <mat-icon style="color: darkred;">bar_chart</mat-icon>
  </button>
  <span style="color: darkred;">Dashboard</span>
  <span class="example-spacer"></span>
  
</mat-toolbar></div>

<div fxLayout="row" fxLayoutAlign="space-evenly center" class="margin-top"  >


  <div class="chart-wrapper chart-details ">
    <canvas baseChart
            [type]="'pie'"
      [datasets]="etablissementTypeData"
      [labels]="etablissementTypesLabel"

      >
    </canvas>
  </div>
  

  <div class="chart-wrapper chart-details ">
    <canvas baseChart
            [type]="'radar'"
      [datasets]="radarChartData"
      [labels]="radarChartLabels"
      [options]="radarChartOptions"

      >
    </canvas>
  </div>
 

</div>
