.container {
  max-width: 90%;
  margin: auto;
}

.mat-icon-button {
  margin: 0 4px;

}

table {
  width: 100%;
}

.mat-header-row {
  background-color: #f4f4f4;
}

.mat-row:hover {
  background-color: #f9f9f9;
}

h2 {
  font-weight: 600;
  color: #66A300;
}
.table-header-darkred {
  color: darkred;
}
