<div fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button class="btn-create-tool" (click)="openToolCreate()">
    Créer un nouveau outil
  </button>
</div>

<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <h1 class="title">Outils</h1>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="filter"
      #input
    />
  </mat-form-field>
</div>

<table class="tool-table">
  <thead>
    <tr>
      <th>Outil N°</th>
      <th>Nom</th>
      <th>Date de création</th>
      <th>Source</th>
      <th>Contributeur</th> <!-- Changement ici -->
      <th>Actions</th> <!-- Nouvelle colonne -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let card of obs | async">
      <td>{{ card.id }}</td>
      <td>{{ card.nom }}</td>
      <td>{{ card.date }}</td>
      <td>{{ card.source }}</td>
      <td>
        <button mat-icon-button class="btn-small" matTooltip="Voir contributeur" (click)="consulter(card.id)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button class="btn-small" matTooltip="Ajouter contributeur" (click)="affecter(card.id)">
          <mat-icon>add</mat-icon>
        </button>
      </td>
      <td>
        <!-- Nouvelle colonne Actions avec icônes Update et Delete -->
        <button mat-icon-button class="btn-small" matTooltip="Mettre à jour" (click)="update(card.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="btn-small" matTooltip="Supprimer" (click)="delete(card.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>